services:
  db:
    image: mysql:9.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: "club_management"
      MYSQL_USER: "club_user"
      MYSQL_PASSWORD: "club_password"
      MYSQL_ROOT_PASSWORD: "root_password"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    restart: unless-stopped

    # If you want to keep code hot-reload/dev style
    volumes:
      - .:/app
      - static_data:/app/staticfiles
      - media_data:/app/media

    ports:
      - "8000:8000"
    entrypoint: ["/entrypoint.sh"]
    command:
      - gunicorn
      - ${DJANGO_WSGI_MODULE:-cricket_club.wsgi:application}
      - --bind
      - 0.0.0.0:8000
      - --workers
      - "3"
      - --timeout
      - "120"

    environment:
      DJANGO_DEBUG: "true"
      DJANGO_ALLOWED_HOSTS: "localhost,127.0.0.1,0.0.0.0"
      DJANGO_CORS_ALLOW_ALL_ORIGINS: "true"

      DB_ENGINE: "django.db.backends.mysql"
      DB_NAME: "club_management"
      DB_USER: "club_user"
      DB_PASSWORD: "club_password"
      DB_HOST: "db"
      DB_PORT: "3306"
    depends_on:
      - db

volumes:
  db_data:
  static_data:
  media_data:
