services:
  web:
    build: .
    restart: unless-stopped

    # If you want to keep code hot-reload/dev style
    volumes:
      - .:/app
      - static_data:/app/staticfiles
      - media_data:/app/media

    ports:
      - "8000:8000"

    environment:
      DJANGO_DEBUG: "true"
      DJANGO_ALLOWED_HOSTS: "localhost,127.0.0.1,0.0.0.0"
      DJANGO_CORS_ALLOW_ALL_ORIGINS: "true"

      # External MySQL DB (your host)
      DB_NAME: "u893900277_kk11"
      DB_USER: "u893900277_kk11"
      DB_PASSWORD: 'uQ6$CgI4p*e?'
      DB_HOST: "193.203.184.125"
      DB_PORT: "3306"

volumes:
  static_data:
  media_data: