Django
apscheduler==3.10.1
setuptools==75.1.0
mysqlclient>=2.2.4
Pillow
python-dateutil
djangorestframework
django-cors-headers
requests
phonepe-pg-sdk-python
gunicorn
drf_spectacular
whitenoise
dj-database-url
pymysql
